.site-nav {
  height: 10vh;
  margin: auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-color;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 0.5px solid $text-color;

  &_menu-trigger {
    color: $icon-color;
    width: 24px;
    height: 24px;
    margin-right: 27px;
    cursor: pointer;

    i {
      font-size: 24px;
    }
  }

  &_logo {
    &-wrapper {
      display: flex;
      align-items: center;
      padding: 18px 16px;
    }

    &-symbol {
      color: $symbol-color;
    }

    &-symbol i {
      font-size: 30px;
      margin-right: 5px;
    }

    &-text {
      font-size: 16px;
      text-size-adjust: auto;
      letter-spacing: -1px;
    }
  }

  &_search {
    &-wrapper {
      display: flex;
      margin: 0 50px;
      flex-grow: 1;
      color: $text-color;
      min-width: 100px;
      height: 35px;
    }

    &-back {
      color: $text-color;
      cursor: pointer;
      display: none;
    }

    &-input {
      flex-shrink: 1;
      flex-grow: 1;
      border: 1px solid $text-color;
      padding: 0 5px;
      margin-left: 5px;
      min-width: 100px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &-input:focus {
      outline: none !important;
      border-color: $borderInput-color;
    }

    &-trigger {
      background: $icon-background;
      color: $icon-color;
      border: 1px solid $text-color;
      width: 65px;
      cursor: pointer;
      border-left: none;
      flex-shrink: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &_user {
    &-actions {
      display: flex;
      list-style: none;
      align-items: center;
      margin-left: auto;
      width: 250px;
      justify-content: space-between;
    }

    &-action {
      > * {
        cursor: pointer;
      }
    }

    &-action i {
      color: $icon-color;
      font-size: 16px;
    }
  }
}

.is-userAvatar {
  height: 32px;
  width: 32px;
  background: rgb(51, 192, 93);
  border-radius: 15px;
}

.is-mobile-search-trigger {
  display: none;
}

@media (max-width: 656px) {
  .is-mobile-search-trigger,
  .site-nav_search-back {
    display: block;
  }

  .site-nav_search-wrapper {
    display: none;
  }
}

@media (max-width: 480px) {
  .site-nav_user-actions {
    width: 80px;
  }

  .is-mobile-hidden {
    display: none;
  }
}
