//****Background Colors****
$background-color: #ffffff;
$icon-background: #f8f8f8;

//****Icon Colors****
$icon-color: rgb(96, 96, 96);
$symbol-color: #ff0000;

//****Text Colors****
$text-color: #d4d4d4;
$mainText-color: rgb(3, 3, 3);

//****Border Colors****
$borderInput-color: rgb(89, 144, 247);
