@import "./variables.scss";
@import "../sass/site-nav.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
}
