//****************//variables
$text-color: rgb(110, 110, 110);
$symbol-color: rgb(189, 189, 189);
//****************//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: transparent;
}

.site-nav {
  border: 1px solid red;
  height: 8vh;
  width: 90vw;
  margin: auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_menu-trigger {
    color: $text-color;
    font-size: 16px;
    height: 25px;
    margin-right: 27px;
    cursor: pointer;
  }

  &_logo {
    &-wrapper {
      display: flex;
      align-items: center;
    }

    &-symbol {
      color: red;
    }

    &-text {
      font-size: 14px;
    }
  }

  &_search {
    &-wrapper {
      display: flex;
      margin: 0 50px;
      flex-grow: 1;
      color: $text-color;
    }

    &-back {
      color: $text-color;
      cursor: pointer;
    }

    &-input {
      flex-shrink: 1;
      flex-grow: 1;
      border: 1px solid $text-color;
      padding: 0 5px;
      margin-left: 5px;
    }

    &-trigger {
      background: $symbol-color;
      border: 1px solid $symbol-color;
      width: 60px;
      cursor: pointer;
      border-left: none;
    }
  }

  &_user {
    &-actions {
      min-width: 225px;
      display: flex;
      list-style: none;
      align-items: center;
      margin-left: auto;
      width: 250px;
      justify-content: space-between;
    }

    &-action i {
      color: $text-color;
    }
  }
}

.is-userAvatar::after {
  content: "";
  display: inline-block;
  height: 32px;
  width: 32px;
  background: grey;
  border-radius: 15px;
}

@media (max-width: 656px) {
  background: orange;
}
